@model IEnumerable<Fatec.Application.ViewModels.VagaEstagioViewModel>
@{
    ViewBag.Title = "Vagas de Estágio";
}

<div class="col s12 m12 push-l2 l8 push-xl2 xl8 center">

    <div class="row">
        <div class="col-4">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
</div>

<div class="row">
    @if (Model != null)
    {
        foreach (var vaga in Model)
        {
            <div class="col s12 m7">
                <h4 class="header">@vaga.Titulo</h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>@vaga.Descricao</p>
                        </div>
                        <div class="card-action">
                            <a href="mailto:@vaga.Email">@vaga.Email</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="center">
            <h4>Nenhuma vaga de Estágio disponível no momento</h4>
        </div>
    }
</div>