@font-face {
    font-family: 'Roboto';
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'), url('../../fonts/Roboto-Regular.ttf') format('ttf');
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.loader {
    position: absolute !important;
    margin: auto;
    top: 50vh;
    bottom: 50vh;
    left: 0;
    right: 0;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Cores Padrão
------------------------------------------------ */

.primary-color {
    background-color: #ee6e73;
}

.secondary-color {
    background-color: #ffffff;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.card-link {
    background-color: #ee6e73;
    height: 150px;
    justify-content: center;
    align-items: center;
    vertical-align: central;
}

.card-link-content {
    justify-content: center;
    align-items: center;
    vertical-align: central;
}

.add-button-position {
    left: 80%;
    top: 80%;
}

.login-imagem {
    height: 100px;
    width: 400px;
}

.card-size-high {
    min-height: 150px;
    justify-content: center;
    align-items: center;
    vertical-align: central;
}