@model Fatec.Mvc.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu a senha?";
}

<div class="col s12 m12 l12 push-xl2 xl8 center center-align">

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h3>Recuperar Senha</h3>

        <div class="input-field col s12 m12 l12 xl12 center">
            @Html.LabelFor(m => m.Email, new { @class = "validate" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "helper-text" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn teal-2 waves-light" value="Enviar link por email" />
            </div>
        </div>

        <br />
    }
</div>