@{
    
}

<h2 class="center">Redefinição de Senha</h2>
<div class="center">
    <p>
        Sua senha foi redefinida. @Html.ActionLink("clique aqui para fazer logon", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
