@{
    ViewBag.Title = "Contato";
}

    <div class="center">
        <h2>@ViewBag.Title</h2>
        <p>Pagina destinada a contatos da fatec, centralizar as formas de contato da instituição entre outros...</p>
    </div>