@{
    ViewBag.Title = "Home Page";
}

<div class="col s12 m12 push-l2 l8 push-xl2 xl8 center">

    <div class="row">
        <div class="col-4">
            <h2>Intranet</h2>
            <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        </div>
    </div>

</div>