@{
    ViewBag.Title = "Home Page";
}

<div class="col s12 m12 push-l2 l8 push-xl2 xl8 center">

    <div class="row">
        <div class="col-4">
            <h2>Asp.Net</h2>
            <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
