@{
    ViewData["Title"] = "Politica Privacidade";
}

<div class="center-align">
    <h2>@ViewData["Title"]</h2>
    <p>Esta pagina detalha a politica de privacidade e segurança do sistema.</p>
</div>
<div style="padding-bottom: 200px">
</div>