<div class="left">
    <article>
        <h2 class="center">Política de Privacidade</h2>
        <section align="justify">
            <h4>
                Esta página detalha a política de privacidade e segurança do sistema.
            </h4>
            <p>
                Nós, da Fatec Jundiaí nos preocupamos em resguardar sua privacidade e por isso disponibilizamos este documento para explicar quais as informações que são coletadas dos usuários da intranet e de que forma são tratados.
                Ao usar nosso Portal, quaisquer serviços digitais que sejam suportados pela Plataforma o Usuário concorda com essa Política de Privacidade.
                Leia com atenção. O Usuário não deverá utilizar a Biblioteca Virtual caso não concorde com a Política aqui exposta.
                Para a Política de Privacidade aplica-se as seguintes observações:
            </p>
            <p>
                <b>(a) Alterações.</b> A Fatec Jundiaí reserva o direito de modificar, incluir e/ou alterar,
                a qualquer momento e sem a necessidade de notificação prévia, o conteúdo desta Política de Privacidade.
                Quaisquer mudanças, inclusões e/ou alterações entrarão em vigor imediatamente após sua divulgação e estarão à disposição do Usuário.
                Em caso de atualizações, na eventualidade de não concordância pelo Usuário, este deverá imediatamente cessar o uso à Plataforma Biblioteca Virtual.
                Na hipótese de continuidade de utilização dos serviços da Plataforma Biblioteca Virtual, depois que qualquer alteração aos termos que estiverem em vigor,
                tal ação indicará que o Usuário concorda com todas as alterações.
            </p>
            <p>
                <b>(b) Usuários permitidos.</b> Usuários são as pessoas cadastradas na Plataforma.
                É responsabilidade de cada Usuário a proteção e sigilo da senha e o acesso às informações.
                Qualquer atividade realizada no site utilizando a conta de determinado Usuário ou por intermédio desta é de responsabilidade do próprio Usuário.
                Não é recomendável que a senha seja reutilizada em aplicativos de terceiros.
            </p>
            <p>
                <b>(c) Utilização de informações coletadas.</b> A Fatec Jundiaí poderá coletar e utilizar informações pessoais para melhorar a experiência dos Usuários.
                As informações poderão ser utilizadas de forma agregada para compreender como os Usuários, enquanto um grupo,
                utilizam os serviços e recursos disponibilizados na Plataforma, com a finalidade de melhoria do serviço ofertado.
            </p>
            <p>
                <b>(d) Como a informação do Usuário é protegida.</b> A Fatec Jundiaí adota práticas apropriadas de coleta, armazenamento e processamento,
                além de medidas de segurança para proteger contra o acesso não autorizado, alteração, divulgação ou destruição dos dados pessoais do Usuário,
                como seu nome, senha e informações sobre suas atividades.
            </p>
            <p>
                <b>(e) Natureza dos dados na internet.</b>
                É intenção da Fatec Jundiaí proteger qualquer informação pessoal ou empresarial enviada à empresa com o controle de acesso especificado nesta submissão.
                A Fatec Jundiaí implementa rigorosos protocolos de segurança de dados e medidas tecnológicas para garantir a segurança de dados em sua rede. No entanto,
                a natureza aberta da internet faz com que exista sempre riscos de que as informações que o Usuário fornece na rede sejam comprometidas
                ou acessadas por outros que não aqueles aos quais os dados são destinados. Para mitigar esses riscos, o Usuário deve utilizar logins e senhas seguros e
                cuidadosamente protegidos de divulgação, além de se abster da divulgação de dados sensíveis na rede.
            </p>
            <p>
                Por favor leia a nossa política de privacidade que explica como suas informações pessoais serão utilizadas pela Fatec Jundiaí.
            </p>
            <ul>
                <li><b>1</b> - Introdução</li>
                <li><b>2</b> - Sou um cliente ou usuário?</li>
                <li><b>3</b> - Quais são minhas responsabilidades como cliente?</li>
                <li><b>4</b> - Quais informações a Fatec Jundiaí coleta sobre mim?</li>
                <li><b>5</b> - Como a Fatec Jundiaí coleta minhas informações pessoais?</li>
                <li><b>6</b> - O que a Fatec Jundiaí faz com minhas informações pessoais?</li>
                <li><b>7</b> - Marketing por e-mail e opção de remoção</li>
                <li><b>8</b> - Como a Fatec Jundiaí mantém minhas informações pessoais seguras?</li>
                <li><b>9</b> - A Fatec Jundiaí compartilha minhas informações pessoais com outros?</li>
                <li><b>10</b> - E se eu for menor de 18 anos?</li>
                <li><b>11</b> - Abusos a esta Política de Privacidade</li>
                <li><b>12</b> - Alterações nesta Política de Privacidade</li>
                <li><b>13</b> - Como Contatar a Fatec Jundiaí</li>
            </ul>
        </section>
        <section align="justify">
            <h5>
                1. Introdução.
            </h5>
            <p>
                Esta Política de Privacidade foi elaborada para ajudá-lo a entender como nós e outras empresas do grupo coletam e utilizam as suas informações pessoais.
                Queremos que você tome decisões informadas ao utilizar as nossas Aplicações e os recursos nelas contidos.
            </p>
            <p>
                Esta Política de Privacidade aplica-se a todas as nossas Aplicações,
                páginas em nossos sites e aos recursos nelas contidos, bem como a qualquer e-commerce, compra ou outras áreas que exigem cadastro.
                Todavia, esta política não se aplica a sites ou aplicativos de terceiros que possam estar interligados aos nossos sites.
                Recomendamos que você leia a Política de Privacidade de tais sites ou aplicativos que você utilizar,
                já que não somos responsáveis por eles.
            </p>
            <p>
                Inserimos detalhes completos de quem somos nós no final desta Política de Privacidade.
            </p>

            <h5>
                2. Sou um cliente ou Usuário?
            </h5>
            <p>
                Nossos usuários são alunos e/ou professores da Fatec Jundiaí que utilizem nossas Aplicações, sites ou Serviços.
                Usuários são, mas sem limitação, todos os clientes, alunos/estudantes e professores que acessam ou usam os nossos sites ou serviços.
            </p>

            <h5>
                3. Quais são minhas responsabilidades como usuário?
            </h5>
            <p>
                Usuários que usam nossas Aplicações, sites ou Serviços devem obter o consentimento necessário (segundo a legislação de privacidade vigente)
                para carregar informações pessoais sobre alunos/estudantes e professores para as Aplicações, sites ou serviços.
                Os clientes também devem garantir que suas informações pessoais carregadas são precisas e verdadeiras
            </p>
            <p>
                Se você tiver alguma dúvida sobre o consentimento para carregar informações pessoais,
                por favor não utilize as nossas Aplicações, sites ou serviços.
            </p>
            <p>
                Se você for uma Instituição de Ensino, então também será exigido a manter medidas técnicas e organizacionais apropriadas contra processamento não autorizado ou ilegal das informações pessoais e contra perda acidental, furto, destruição ou danos a tais informações pessoais. Senhas e nomes de usuário para as nossas Aplicações, sites ou Serviços não devem ser escritos ou compartilhados.
            </p>
            <p>
                Em termos legais, a Fatec Jundiaí e o usuário são ambos responsáveis com relação a informações pessoais que são coletadas e usadas por nossas Aplicações, sites e Serviços.
                Isso significa que a Fatec Jundiaí e o usuário são partes corresponsáveis.
                Uma “parte responsável” é “uma entidade pública ou privada, ou qualquer outro indivíduo que, individualmente ou em conjunto com outros,
                determina o propósito e meios de processamento de informações pessoais”.
            </p>

            <h5>
                4. Quais informações a Fatec Jundiaí coleta sobre mim?
            </h5>
            <p>
                Informações pessoais que coletamos podem incluir seu nome, dados de contato (telefones, endereços de e-mail e endereços físicos),
                cadastro de pessoa física, data de nascimento, sexo, trabalho, cargo, Instituição de Ensino, informações sobre curso/ano, interesses pessoais,
                cartão de crédito ou informações de cobrança, seleções de compra e dados sobre as páginas que você visita em nosso site.
            </p>

            <h5>
                5. Como a Fatec Jundiaí coleta minhas informações pessoais?
            </h5>
            <p>
                Coletamos suas informações de quatro formas:
            </p>
            <ul>
                <li>
                    <b>A.</b>	Informações pessoais que você desejar divulgar.
                    Você pode, por exemplo, fornecer suas informações ao postar algo em nosso site,
                    ao cadastrar para algum recurso em nosso site que exija cadastro,
                    ao nos contatar (online ou offline) ou ao pedir nossos produtos ou serviços.
                </li>
                <li>
                    <b>B.</b>	Informações coletadas por nós quando você interage com nosso site,
                    nossos aplicativos móveis ou ao abrir nossa comunicação por e-mail.
                    Usamos cookies (uma pequena peça de código de computador que armazenamos por um período de tempo em seu computador ou dispositivo móvel)
                    e outras tecnologias similares para coletar essas informações.
                </li>
                <li>
                    <b>C.</b>	Através de uma operação automática independente nosso servidor de Internet coleta o seu endereço de IP,
                    tipo de navegador e detalhes do website, aplicativo móvel ou comunicação por e-mail de sua origem, antes de você entrar em nosso site.
                </li>
                <li>
                    <b>D.</b>	Informações recebidas por sistemas terceiros ou agregados ao sistema que utilizamos.
                </li>
            </ul>
            <p>
                Essas informações serão usadas para:
            </p>
            <ul>
                <li align="justify"><b>1.</b>	sabermos quantas vezes o site foi visitado;</li>
                <li align="justify"><b>2.</b>	registrarmos quais as partes no site foram visitadas para aperfeiçoar o conteúdo e disposição do site;</li>
                <li align="justify"><b>3.</b>	analisarmos o consumo de conteúdo oferecido de acordo com o perfil do usuário;</li>
                <li align="justify"><b>4.</b>	Personalizarmos a plataforma de acordo com os seus interesses e propiciarmos uma experiência personalizada e única para você;</li>
                <li align="justify"><b>5.</b>	 entendermos a eficácia de nossas comunicações por e-mail. </li>
            </ul>
            <p>Também poderemos, de tempos em tempos, fornecer esses dados para terceiros de forma anônima para uso em conexão com o nosso site.</p>
            <h5>6. O que a Fatec Jundiaí faz com minhas informações pessoais?</h5>
            <p>
                Nós e nosso grupo de empresas poderemos utilizar suas informações pessoais para processar suas compras online,
                para informá-lo sobre produtos e serviços oferecidos por nós e por nosso grupo de empresas,
                para aperfeiçoar os produtos e serviços oferecidos a você, para fins de eficiência, desempenho e/ou pesquisa de mercado, para fins de marketing,
                estatísticos ou analíticos, ou de outra forma para melhor atender as necessidades e preferências de nossos clientes.
                Não permitiremos que terceiros não relacionados usem suas informações pessoais para fins de marketing sem o seu consentimento.
            </p>
            <p>Em particular, poderemos utilizar suas informações para: </p>
            <ul>
                <li align="justify"><b>A.</b>	contatá-lo com mais informações sobre produtos e serviços nossos e de empresas do nosso grupo, exceto para aquilo que você solicitou em contrário;</li>
                <li align="justify"><b>B.</b>	informá-lo sobre as atividades em nosso site;</li>
                <li align="justify"><b>C.</b>	convidá-lo para participar de pesquisas, discussões e sorteios, bem como solicitar sua opinião sobre nossos serviços via pesquisa online e fóruns de discussões.</li>
            </ul>
            <p>
                Também utilizamos informações pessoais de forma agregada (quando nenhum usuário individual é identificado por nome)
                para construir perfis de marketing, auditar como nossos sites são utilizados e para ajudar no desenvolvimento estratégico de nossos sites.
            </p>
            <p>
                A participação em pesquisas e fóruns de discussões é inteiramente voluntária. Você pode remover a inscrição para não ser contatado para esse fim a qualquer momento.
                As informações de pesquisas são usadas para fins de eficácia, desempenho e/ou pesquisa de mercado, visando aperfeiçoar os nossos serviços.
            </p>
            <p>
                Mostraremos seu nome de usuário em qualquer conteúdo que você submeter ou postar em nossos sites (incluindo, mas sem limitação, discussões, murais e fóruns).
            </p>

            <h5>
                7. Marketing por e-mail e opção de remoção
            </h5>
            <p>
                Não enviaremos e-mails com material de marketing, a menos que você tenha optado por recebê-los.
                Todo e-mail de marketing que enviarmos a você incluirá um link de remoção na parte final do e-mail.
                Alguns sites da Fatec Jundiaí também incluem detalhes de contato que você poderá usar se desejar contatar-nos por e-mail,
                correio ou telefone, a fim de cancelar o recebimento.
            </p>

            <h5>
                8. Como a Fatec Jundiaí mantém minhas informações pessoais seguras?
            </h5>
            <p>
                Procuramos proteger a segurança de todas as suas informações pessoais.
                Em particular, desde que seu navegador aceite a criptografia Secure Sockets Layer,
                buscamos proteger suas informações sensíveis (dados pessoais e bancários) contra o acesso não autorizado através de um servidor seguro.
                Também utilizamos parâmetros SSO de plataformas terceiras e hospedagem do site em ambiente seguro do Microsoft Azure.
                Quando utilizamos terceiros para processar informações pessoais, exigimos que eles garantam a segurança de suas informações.
                Adotamos medidas apropriadas de segurança em nossos próprios sistemas,
                mas a Internet não é um meio seguro e não podemos garantir a segurança das informações transmitidas via Internet.
            </p>

            <h5>
                9. A Fatec Jundiaí compartilha minhas informações pessoais com outros?
            </h5>
            <p>
                Nunca venderemos suas informações pessoais. Poderemos divulgar e compartilhar informações pessoais com os terceiros listados abaixo.
                Como a Internet é um ambiente global, você aceita e concorda que isso inclui a transferência de suas informações pessoais para outros países ao redor do mundo,
                inclusive para países fora do Brasil, que podem não ter as mesmas leis de proteção de dados que o Brasil. Poderemos compartilhar suas informações pessoais:
            </p>
            <ul>
                <li>
                    <b>A.</b> com nosso grupo de empresas ou qualquer entidade que adquira qualquer parte de nosso negócio.
                </li>
                <li>
                    <b>B.</b> com nossos prestadores de serviços (incluindo, mas sem limitação, agências de referência de crédito e processadores de pagamentos,
                    distribuidores/agentes de nossos produtos, fornecedores que desenvolvem ou hospedam nossos sites, prestadores de serviços que gerenciam o fluxo de dados entre nós e nossos clientes),
                    com sua instituição de ensino utilizando ferramentas de busca de terceiros que podem indexar páginas de perfis de usuários e nomes de usuários como parte do URL da página de perfil de usuário como default se exigido ou permitido por lei com possíveis terceiros
                    (como seu empregador, sua instituição de ensino, seu provedor de Internet, órgãos de cumprimento da lei), se justamente acreditarmos que você possa estar violando a lei
                    (por exemplo, se você tiver postado conteúdo difamatório em nossos sites), com outros terceiros com o seu consentimento.
                </li>
            </ul>

            <h5>
                10. E se eu for menor de 18 anos?
            </h5>
            <p>
                Se você for menor de 18 anos, por favor leia esta Política de Privacidade com seus pais ou tutor,
                e pergunte a eles sobre tudo o que você não entender.
                Obtenha a permissão deles antes de fornecer para a Fatec Jundiaí suas informações pessoais.
            </p>

            <h5>
                11. Abusos a esta Política de Privacidade.
            </h5>
            <p>
                Toda coleta indevida ou mal-uso das informações pessoais viola esta Política de Privacidade e nosso Aviso Legal.
                Favor reportar tal fato por e-mail para <a href="mailto:secretaria.jundiai@fatec.sp.gov.br">secretaria.jundiai@fatec.sp.gov.br</a>.
            </p>
            <p>
                Você concorda em não fazer mal-uso das informações pessoais disponíveis em nosso Site e Aplicações,
                nem coletá-las ou usar robôs ou outros scripts automatizados, códigos ou funcionalidades para isso.
            </p>
            <p>
                Poderemos suspender ou encerrar imediatamente seu acesso ao nosso site e Aplicações sem aviso prévio,
                se tivermos conhecimento de que você violou os Termos de Uso e Política, mais notadamente desta Política de Privacidade.
            </p>

            <h5>
                12. Alterações nesta Política de Privacidade.
            </h5>
            <p>
                Poderemos atualizar esta Política de Privacidade de tempos em tempos. Sempre incluiremos a data da nova versão para que você saiba quando houve uma mudança.
                Se você não concordar com as alterações, favor não continuar a usar o nosso site ou fornecer para nós suas informações pessoais.
            </p>

            <h5>
                13. Como contatar a Fatec Jundiaí.
            </h5>
            <p>
                Se você tiver qualquer dúvida sobre a nossa Política de Privacidade ou sobre os dados que retemos sobre você, ou mesmo desejar garantir que tais dados sejam precisos e atualizados, não hesite em nos contatar pelo endereço abaixo:
            </p>
            <p>
                Faculdade de Tecnologia Deputado Ary Fossen – Jundiaí
            </p>
            <p>
                Av. União dos Ferroviários, 1760
            </p>
            <p>
                Bairro Ponte de Campinas
            </p>
            <p>
                CEP 13201-160 – Jundiaí/SP
            </p>
            <p>
                Tel: (11) 4522-7549 / 4523-0092
            </p>
            <p>
                Esta Política de Privacidade é fornecida pela FATEC JUNDIAÍ instituição de ensino superior,
                pública e administrada pela autarquia do governo do estado de São Paulo “Centro Paula Souza”.
            </p>

        </section>
    </article>
</div>
<div style="padding-bottom: 200px">
</div>