
<div class="row">
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Avaliações P1, P2 e P3 - 2019-2
                </span>
                <p>ADS EVE GAM GTI LOG</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Calendário 2019-2
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Grade Horária 2019-2
                </span>
                <p>EVE LOG_M ADS GAM GTI LOG_N</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Salas de Aula 2019-2
                </span>
                <p>Ver alocação</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Projeto dos Cursos
                </span>
                <p>ADS EVE GAM GTI LOG</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Horário dos Professores 2019-2
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    SIGA Treinamento Docentes
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Modelos e Docs do TCC
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card blue-grey lighten-3">
            <div class="card-content ">
                <span class="card-title">
                    Manual de Eventos 2018 v1
                </span>
                <p></p>
            </div>
        </div>
    </div>
</div>