
<div class="row">
    <h3 class="center">Links</h3>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Avaliações P1, P2 e P3 - 2019-2
                </span>
                <p>
                    <a href="#" class="text-primary">ADS</a>
                    <a href="#" class="text-primary">EVE</a>
                    <a href="#" class="text-primary">GAM</a>
                    <a href="#" class="text-primary">GTI</a>
                    <a href="#" class="text-primary">LOG</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Calendário 2019-2
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Grade Horária 2019-2
                </span>
                <p>
                    <a href="#" class="text-primary">EVE</a>
                    <a href="#" class="text-primary">LOG_M</a>
                    <a href="#" class="text-primary">ADS</a>
                    <a href="#" class="text-primary">GAM</a>
                    <a href="#" class="text-primary">GTI</a>
                    <a href="#" class="text-primary">LOG_N</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Salas de Aula 2019-2
                </span>
                <a href="#" class="text-primary">Ver alocação</a>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Projeto dos Cursos
                </span>
                <p>
                    <a href="#" class="text-primary">ADS</a>
                    <a href="#" class="text-primary">EVE</a>
                    <a href="#" class="text-primary">GAM</a>
                    <a href="#" class="text-primary">GTI</a>
                    <a href="#" class="text-primary">LOG</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Horário dos Professores 2019-2
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    SIGA Treinamento Docentes
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Modelos e Docs do TCC
                </span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 xl4">
        <div class="card red lighten-2 card-link">
            <div class="card-content center text-primary">
                <span class="card-title">
                    Manual de Eventos 2018 v1
                </span>
                <p></p>
            </div>
        </div>
    </div>
</div>