<style type="text/css">
    #fadeTela {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ababab;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .70;
        filter: alpha(opacity=80);
    }
</style>
<script>

    function abrirLinkMenu(vUrl) {
        const  elem = document.querySelector('#slide_menu');
        const instance = M.Sidenav.getInstance(elem);
        instance.close();
        $(".preloader-wrapper").show();
        $("#fadeTela").show();
        window.location.href = vUrl;
    };
    //paste this code under the head tag or in a separate js file.
    // Wait for window load
    $(window).on('load', function () {
        // Animate loader off screen
        $(".preloader-wrapper").fadeOut("slow");;
    });
</script>

<div class="preloader-wrapper big active loader">
    <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
    <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div id="fadeTela" style="display: none;"></div>