@model HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="center">Bloqueado.</h1>
    <h2 class="center">Esta conta foi bloqueada, tente novamente mais tarde.</h2>
</hgroup>